<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <% if(webtoons) {%>
        <% webtoons.forEach((webtoon)=> { %>
            <ul>
                <li>ID: <%= webtoon.id%>
                </li>
                <li>Title:
                    <a href="/<%= webtoon.id %>/update">
                        <%= webtoon.title%>
                    </a>
                </li>
                <li>Author: <%= webtoon.author%>
                </li>
                <li>Genre: <%= webtoon.genre%>
                </li>

            </ul>

            <%})}%>
                <a href="/create">Create new Webtoon</a>
</body>

</html>